<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umb_project">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 지도 API 권한 설정 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Umb_project"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".UmbQrActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="49ef1afb711e53c2c92c917ccb2d1f7a" />

        <activity
            android:name=".UmbMainActivity"
            android:exported="false" />
        <activity
            android:name=".UmbMypageActivity"
            android:exported="false" />
        <activity
            android:name=".UmbJoinActivity"
            android:exported="false" />
        <activity
            android:name=".UmbLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>