<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.CouponMapper">
	<select id ="selectOneCoupon" parameterType = "int" resultType = "kr.smhrd.domain.Coupon">
		select * from t_coupon where cp_seq = #{cp_seq}
	</select>
	
	<insert id="insertCoupon" parameterType="kr.smhrd.domain.Coupon">
		insert into t_coupon(cp_no, cp_amount) values (#{cp_no}, #{cp_amount})
	</insert>
	
	<update id="updateCoupon" parameterType="kr.smhrd.domain.Coupon">
		update t_coupon set cp_done = #{cp_done} where cp_seq = #{cp_seq}
	</update>
	
	<delete id="deleteCoupon" parameterType = "int">
		delete from t_coupon where cp_seq = #{cp_seq}
	</delete>
</mapper>
