<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.RentMapper">
	
	<select id ="selectOneRent" parameterType = "int" resultType = "kr.smhrd.domain.Rent">
		select * from t_rent where rent_seq = #{rent_seq}
	</select>
	
	<select id ="selectRentTime" parameterType = "int" resultType = "int">
		select timestampdiff(hour, rent_s_date, now()) from t_rent where rent_seq = #{rent_seq}
	</select>
	
	<select id ="selectRentTime2" parameterType = "kr.smhrd.domain.Rent" resultType = "int">
		select timestampdiff(hour, rent_s_date, #{rent_e_date}) from t_rent where rent_seq = #{rent_seq}
	</select>
	
	<select id ="selectOneRfid" parameterType = "String" resultType = "kr.smhrd.domain.Rent">
		select * from t_rent where pay_amount = -1 and umb_seq = (select umb_seq from t_umbrella where umb_rfid = #{umb_rfid})
	</select>
	
	<insert id="insertRent" parameterType="kr.smhrd.domain.Rent">
		insert into t_rent(rent_id, umb_seq) values (#{rent_id}, #{umb_seq})
	</insert>
	
	<update id="updateRentReturn" parameterType="kr.smhrd.domain.Rent">
		update t_rent set rent_e_date = now(), pay_amount = #{pay_amount}, pay_method = #{pay_method}, pay_done = #{pay_done} where rent_seq = #{rent_seq}
	</update>

	<delete id="deleteRent" parameterType = "int">
		delete from t_rent where rent_seq = #{rent_seq}
	</delete>
	
</mapper>
